<div box-="square" shear-="top">
  <div class="header">
    <span is-="badge" variant-="background0"><h3>Intro</h3></span>
  </div>
  <div id="content">
    › echo $GREETING<br><br>
    <%= theme.greeting %>
  </div>
</div>

<div box-="square" class="main-archive-box" shear-="top">
  <div class="header">
    <span is-="badge" variant-="background0"><h2>Recent</h2></span>
  </div>
  <div id="content">

    › ls -lv <%= is_archive() ? '' : '| head -n ' + (theme.max_post+1) %>
    <br>
    total <%= site.posts.length %>
    <br>
      <% 
        var posts = is_archive() ? 
          site.posts.sort('date', 'desc').toArray() : 
          site.posts.sort('date', 'desc').limit(theme.max_post).toArray();
        posts.forEach(function(post, index){ 
      %>
      <a href="<%- url_for(post.path) %>" class="post-entry" style="display: flex; align-items: flex-start; gap: 0.75em; border-top: 1px solid var(--foreground2); padding: 0; padding-top: 1lh; text-decoration: none; cursor: pointer;">
        <img src="<%- url_for(post.thumbnail || '/images/placeholder-tui.png') %>" alt="" style="width: 96px; height: auto; object-fit: cover;" />
        <div style="display: flex; flex-direction: column;">
          <span class="post-title"><%- post.title %></span>
          <% if (post.excerpt) { %><div style="margin-top: 0.25em; font-weight: normal;"><%- post.excerpt %></div><% } %>
          <div is-="badge" cap-="ribbon triangle" style="width: fit-content; margin-top: 0.35em;"><%- full_date(post.date, 'MMM DD YYYY') %></div>
        </div>
      </a>
      <% }) %>
    (...)
  </div>

  <div class="footer text-right">
    <a is-="badge" variant-="background0" href="<%= config.root %>archives">See all <%= site.posts.length %> posts</a>
  </div>
</div>   
