<!DOCTYPE html>
<html lang="<%= config.language %>" data-webtui-theme="gruvbox-dark" id="root">

<head>

  <!-- WebTUI Hexo Theme -->
  <!-- Hexo theme created by @rux1 thanks to https://webtui.ironclad.sh -->

  <meta charset="utf-8">

  <%
  if (!config.author) {
    config.author = ""
  }

  var title = title = config.title;
  if (is_archive()){
    title = 'All Posts - ' + config.author;
  } else if (is_post()){
    title = page.title;
  } else if (is_page()){
    title = page.title + ' - ' + config.author;
  } else if (is_tag()){
    title = 'Posts Related to ' + page.tag;
  }
  %>
  <title><%= title %></title>
  <% if (config.sitemap) { %>
  <link rel="sitemap" href="<%-config.url + config.sitemap.path %>" />
  <% } %>
  <link rel="canonical" href="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>">
  <% if (is_page()){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (config.keywords) { %>
  <meta name="keywords" content="<%= config.keywords %>">
  <% } %>
  <meta name="author" content="<%- config.author %>">
  <% if (is_post() || is_page()) { %>
  <% if(page.thumbnail){ %>
  <meta property="og:image" content="<%-config.url + page.thumbnail %>">
  <% } %>
  <% } else { %>
  <% if(theme.thumbnail){ %>
  <meta property="og:image" content="<%-config.url + theme.thumbnail %>">
  <% } %>
  <% } %>
  <meta property="og:site_name" content="<%= config.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= title %>" />
  <% if (is_page()){ %>
  <meta property="og:description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta property="og:description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta property="og:description" content="<%= config.description %>">
  <% } %>
  <meta property="og:url" content="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <% if (is_page()){ %>
  <meta name="twitter:description" content="<%= page.description %>">
  <% } else if (page.content){ %>
  <meta name="twitter:description" content="<%= strip_html(page.content).replace(/\n/g, " ").replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else { %>
  <meta name="twitter:description" content="<%= config.description %>">
  <% } %>
  <% if (is_post() || is_page()) { %>
  <% if(page.thumbnail){ %>
  <meta name="twitter:image" content="<%-config.url + page.thumbnail %>">
  <% } %>
  <% } else { %>
  <% if(theme.thumbnail){ %>
  <meta name="twitter:image" content="<%-config.url + theme.thumbnail %>">
  <% } %>
  <% } %>
  <meta name="twitter:url" content="<%= url.replace(/index\.html$/, '').replace(/index\.html$/, '') %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@webtui/css/dist/full.css"
  />
  <link 
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@webtui/theme-gruvbox@0.0.1/dist/index.css"
  />

  <!-- <%- css('css/base.css') %>
  <%- css('css/full.css') %>
  <%- css('css/components/badge.css') %>
  <%- css('css/components/button.css') %>
  <%- css('css/components/input.css') %>
  <%- css('css/components/popover.css') %>
  <%- css('css/components/typography.css') %>
  <%- css('css/utils/box.css') %>
  <%- css('css/themes/gruvbox.css') %> -->

  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      background-color: #111;
    }
    .page {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      background: var(--background0);
      box-sizing: border-box;
    }

    .main-archive-box {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .header { 
      display: flex;
      justify-content: space-between; 
    }
    .text-right { 
      text-align: right;
    }
    #buttons { 
      display: flex; 
      justify-content: flex-end; 
    }
    footer > .column {
      display: flex;
      justify-content: space-between;
    }
    .main-archive-box img {
      max-width: 100%;
      margin-top: 1lh;
      margin-bottom: 1lh;
    }
    .main-archive-box a {
      /* color: inherit; */
    }

    div[box-="square"] {
      padding-left: 2ch;
      padding-right: 2ch;
    }

    #light-dark-switch {
      cursor: pointer;
    }

    .mt-2 {
      margin-top: 2ch;
    }
    .mt-1 {
      margin-top: 1ch;
    }

    .mv-1 {
      margin-top: 1ch;
      margin-bottom: 1ch;
    }
    .mh-1 {
      margin-left: 1ch;
      margin-right: 1ch;
    }
    .mv-2 {
      margin-top: 2ch;
      margin-bottom: 2ch;
    }
    .mh-2 {
      margin-left: 2ch;
      margin-right: 2ch;
    }
  </style>

  <!-- Favicon
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <link rel="icon" type="image/png" href="<%- theme.favicon %>">

  <% if (theme.picjs) { %>
  <script src="<%- theme.picjs %>" defer></script>
  <% } %>

  <% if(config.search){ %>
  <script src="/js/search.min.js" defer></script>
  <% } %>

</head>

<body>
  <div class="page">
    <%- partial('partial/header') %>
    <%- body %>

    <% if(config.search){ %>
      <%- partial('partial/search') %>
    <% } %>

    <%- partial('partial/footer') %>
  </div>
  <!-- <script src="<%- theme.nanobar %>"></script>

  <script>
    var options = {
      classname: 'nanobar',
      id: 'myNanobar'
    };
    var nanobar = new Nanobar(options);
    nanobar.go(30);
    nanobar.go(76);
    nanobar.go(100);
  </script> -->

  <script>
    const root = document.getElementById('root');
    const darkLightToggle = document.getElementById('light-dark-switch');

    window.addEventListener('DOMContentLoaded', () => {
      const theme = localStorage.getItem('webtui-theme');
      if (theme) {
        root.setAttribute('data-webtui-theme', theme);
        darkLightToggle.checked = theme === 'gruvbox-light';
      }
    });

    darkLightToggle.addEventListener('click', () => {

      setTimeout(() => {
        if (root.getAttribute('data-webtui-theme') === 'gruvbox-dark') {
          const newTheme = 'gruvbox-light';
          root.setAttribute('data-webtui-theme', newTheme);
          localStorage.setItem('webtui-theme', newTheme);
          darkLightToggle.checked = true;
        } else {
          const newTheme = 'gruvbox-dark';
          root.setAttribute('data-webtui-theme', newTheme);
          localStorage.setItem('webtui-theme', newTheme);
          darkLightToggle.checked = false;
        }
      }, 100);
    });
  </script>

</body>
</html>