<div box-="square contain:!top">
  <div class="header">
    <span is-="badge" variant-="background0">
        <h1><a style="color: inherit" href="<%= config.root %>">
        <%= config.title %>
      </a></h1>
      <span id="light-dark-switch">🔦 ⇠ click me!</span>
    </span>
  </div>
  <div class="text-right">
    <a href="<%= config.root %>" is-="button" variant-="blue" size-="small">Home</a>
    <a href="<%= config.root %>archives" is-="button" variant-="green" size-="small">Archives</a>
    <% if (theme.menu) { %>
      <% for (var i in theme.menu) { %>
        <a href="<%- url_for(theme.menu[i]) %>" is-="button" variant-="yellow" size-="small"><%= i %></a>
      <% } %>
    <% } %>
    <% if (theme.email) { %>
      <% if (typeof obfuscate === "function") { %>
        <a href="mailto:<%- obfuscate(theme.email) %>" target="_blank" is-="button" variant-="blue" size-="small">Email</a>
      <% } else { %>
        <a href="mailto:<%= theme.email %>" target="_blank" is-="button" variant-="blue" size-="small">Email</a>
      <% } %>
    <% } %>
  </div>
</div>
