<div box-="square contain:!top">
  <div class="header">
    <span is-="badge" variant-="background0"><h1><%= config.title %></h1></span>
  </div>
  <div class="text-right">
    <a href="<%= config.root %>" is-="button" variant-="blue" size-="small">Home</a>
    <a href="<%= config.root %>archives" is-="button" variant-="green" size-="small">Archives</a>
    <% if (theme.menu) { %>
      <% for (var i in theme.menu) { %>
        <a href="<%- url_for(theme.menu[i]) %>" is-="button" variant-="yellow" size-="small"><%= i %></a>
      <% } %>
    <% } %>
  </div>
</div>
